/* Import font Quicksand */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

.featured-card {
  width: 100%;
}

.featured-card img {
  width: 100%;
}

h1,
h2,
h5,
p {
  text-align: center;
}

/* navbar */
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

nav {
  background-color: #371b58;
  padding: 5px;
  position: fixed;
  width: 100%;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}
nav a:hover {
  font-weight: bold;
}
/* navbar akhir */

/* konten main */
main {
  padding: 20px;
  overflow: auto;
}

#content {
  float: left;
  width: 75%;
}
/* akhir content main */

/* card effect */
.card,
.featured-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

#Activity .card.flex-column {
  display: flex;
}

#Activity .featured-card {
  margin-right: 10px;
}

h1,
h2,
h3 {
  color: #7858a6;
}

/* aside */
aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

.card .profile {
  margin-bottom: 50px;
}

.card .utama {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.card .profile img {
  width: 170px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
/* akhir aside */

/* form */
.card.featured-card form {
  text-align: center;
}

.nama,
.email {
  width: 65%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
}
textarea {
  border-radius: 5px;
  border: 1px solid black;
  width: 65%;
  height: 100px;
}
/* akhir form */

/* button */
button {
  color: white;
  background-color: #990000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}
button:hover {
  color: white;
  font-weight: bold;
}

.loading {
  display: none;
}
/* akhir button */

.card .formContact {
  padding: 30px;
}

/* footer */
footer {
  padding: 20px;
  color: white;
  background-color: #371b58;
  text-align: center;
  font-weight: bold;
}
/* akhir footer */

/* breakpoint responsive*/
/* tablet */
@media screen and (max-width: 960px) {
  aside {
    width: 100%;
    padding: 0;
  }

  aside .profile .lambang {
    width: 35%;
  }

  #content {
    width: 100%;
  }
  .informasi {
    display: flex;
    justify-content: space-around;
  }
}

/* mobile */
@media screen and (max-width: 645px) {
  #Activity .card.flex-column {
    flex-wrap: wrap;
    flex-grow: 1;
  }
}
/* akhir breakpoint responsive */
